* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: #000;
}
.hero-area.empower {
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../.././asset/www.evangadi.com/Evangadi_Networks/10052.jpg");
  position: relative;
  padding-top: 5rem;
  color: white;
}
