* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}
.onboarding-section {
  padding-bottom: 5rem;
}
.onboarding-section img {
  max-width: 10%;
}
.find_team_flow_wrapper {
  /* border-bottom: 1px solid gray; */
  transition: all 0.3s ease-in-out;
  position: relative;
  padding: 1.5rem 0;
}
.find_team_flow_wrapper a {
  text-decoration: none;
  color: #4f4d4d;
  font-weight: 500;
  font-size: 14px;
}

.find_team_flow_wrapper a:hover {
  color: #4f4d4d;
}

.find_team_flow_wrapper .link_head {
  font-size: 1.4rem;
  font-weight: 700;
  color: #000;
}

.find_team_flow_wrapper .cta_text {
  position: absolute;
  top: 1rem;
  left: 1rem;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  color: red;
}
.find_team_flow_wrapper .cta_text {
  font-size: 16px;
}

.find_team_flow_wrapper i {
  position: absolute;
  top: 3rem;
  right: 5px;
  font-size: 1.5rem;
  text-align: right;
  color: #000;
  font-weight: 900;
}

@media (min-width: 800px) {
  .find_team_flow_wrapper .cta_text {
    left: 7rem;
    color: #000;
    font-size: 12px;
  }
}
@media (max-width: 705px) {
  .find_team_flow_wrapper {
    padding: 4rem;
    /* margin: 1rem 0 0 0; */
  }

  .find_team_flow_wrapper .cta_text {
    left: 0;
    /* top: -1rem; */
  }

  
}
@media (max-width: 815px) {
  .find_team_flow_wrapper .cta_text p {
    display: none;
  }
  .find_team_flow_wrapper .cta_text {
    left: 1rem;
    color: #000;
    font-size: 12px;
  }
  .onboarding-section img {
    display: none;
  }
  .find_team_flow_wrapper .link_head {
    font-size: 1.5rem;
    color: rgb(0, 0, 0);

  }
   .find_team_flow_wrapper {
    padding: 4rem;
    /* margin: 1rem 0 0 0; */
  }
}
